<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
  
    <!-- INCLUDE THE STRAIGHT ROAD WORLD -->
    <arg name="world_name" value="$(find gazebo_simulation)/worlds/Justina.world"/>
  
    <!-- more default parameters can be changed here -->
  </include>

  <node name="rviz" pkg="rviz" type="rviz"/>
</launch>
	
